body {
    font-family: Arial;
    margin: 5px 30px;
}

/*.audi.highlight { stroke: #895881; }*/

.audi { color: green; }
path[manufacturer="audi"] { stroke: green; }

.mitsubishi { color: red; }
path[manufacturer="mitsubishi"] { stroke: red; }

.citroen { color: orange; }
path[manufacturer="citroen"] { stroke: orange; }

.peugeot { color: blue; }
path[manufacturer="peugeot"] { stroke: blue; }

.nissan { color: purple; }
path[manufacturer="nissan"] { stroke: purple; }

.renault { color: lawngreen; }
path[manufacturer="renault"] { stroke: lawngreen; }

.vauxhall { color: darkorchid; }
path[manufacturer="vauxhall"] { stroke: darkorchid; }

.mini { color: darkcyan; }
path[manufacturer="mini"] { stroke: darkcyan; }

.honda { color: cyan; }
path[manufacturer="honda"] { stroke: cyan; }

.aixam { color: bisque; }
path[manufacturer="aixam"] { stroke: bisque; }

.mazda { color: chocolate; }
path[manufacturer="mazda"] { stroke: chocolate; }

.chrysler { color: red; }
path[manufacturer="chrysler"] { stroke: red; }

.smart { color: lightgreen; }
path[manufacturer="smart"] { stroke: lightgreen; }

.ssangyong { color: darkgray; }
path[manufacturer="ssangyong"] { stroke: darkgray; }

.alfa.romeo { color: lightgray; }
path[manufacturer="alfa romeo"] { stroke: lightgray; }

.fiat { color: gray; }
path[manufacturer="fiat"] { stroke: gray; }

.chevrolet { color: black; }
path[manufacturer="chevrolet"] { stroke: black; }

.ford { color: royalblue; }
path[manufacturer="ford"] { stroke: royalblue; }

.toyota { color: lightyellow; }
path[manufacturer="toyota"] { stroke: lightyellow; }

.hyundai { color: lightpink; }
path[manufacturer="hyundai"] { stroke: lightpink; }

.mg.motor.uk { color: darkorange; }
path[manufacturer="mg motor uk"] { stroke: darkorange; }

.volkswagen { color: darkgreen; }
path[manufacturer="volkswagen"] { stroke: darkgreen; }

.skoda { color: darkblue; }
path[manufacturer="skoda"] { stroke: darkblue; }

.seat { color: darkred; }
path[manufacturer="seat"] { stroke: darkred; }

.kia { color: linen; }
path[manufacturer="kia"] { stroke: linen; }

.proton { color: coral; }
path[manufacturer="proton"] { stroke: coral; }

.suzuki { color: aliceblue; }
path[manufacturer="suzuki"] { stroke: aliceblue; }

.perodua { color: yellow; }
path[manufacturer="perodua"] { stroke: yellow; }

.dacia { color: pink; }
path[manufacturer="dacia"] { stroke: pink; }



.foo, .bar { color: red; text-decoration: underline; background-color: yellow; }
.baz { opacity: 1; }

/*path[baz="baz"] { stroke-dasharray: 5,5; }*/

p { line-height: 1.4em; margin-bottom: 1.0em; }
a { color: #821122; }
#content {
    width: 925px;
    margin: 0 auto;
}
#filters {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}
#filters a {
    color: #000;
    font-size: 12px;
    padding: 5px;
    background: #e2e2e2;
    cursor: pointer;
    margin-right: 3px;
}
#filters a:last-child {
    margin-right: 0;
}
#filters a.SAS { background: #895881; color: #fff; }
#filters a.ECS { background: #ED7C31; color: #fff; }
#filters a.MEA { background: #82A5C0; color: #fff; }
#filters a.SSF { background: #6E9E75; color: #fff; }
#filters a.LCN { background: #00BBD6; color: #fff; }
#filters a.EAS { background: #e25f82; color: #fff; }
#filters a.NAC { background: #be1932; color: #fff; }


h2 { text-align: center; }
#key { text-align: center; }
h3 { color: gray; }
.type {
  display: inline-block;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 2px;
}

#vis {
    min-height: 550px;
}
#blurb {
    height: 60px;
    border-top: 1px solid #e2e2e2;
    padding-top: 20px;
}

path {
    /*stroke: #e2e2e2;*/
    stroke-width: 1.7;
    fill: none;
    opacity: 0.2;
}
/*path:hover {  stroke-width: 1.7; }*/
path.current, path.highlight.current {
    /*stroke: #000;*/
    stroke-width: 4;
    cursor: pointer; opacity: 1;
}

/*.highlight { stroke-width: 1px; }*/

line {
    stroke: black;
}

text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
}
.axis {
    stroke-width: 0.8;
    stroke: #000;
}
.xTicks, .yTicks {
    stroke-width: 0.6;
    stroke: #000;
}


#cite { font-size: 0.8em; text-align: right; margin-top:10px; padding-bottom: 20px; }
#cite a { background: #e2e2e2; text-decoration: none; color: #821122; }
